.contact-page .theme-form input {
    border-color: #dddddd;    
    font-size: 15px;
    padding: 14px 25px;
    margin-bottom: 5px;
    height: inherit;
}

.error{
    color: red !important;
}

input.form-control.error {
    border-color: red;
}


.top-header .header-dropdown .onhover-dropdown .onhover-show-div li a {
    color: #333333;
    padding: 5px;
}


.onhover-dropdown .onhover-show-div {
    min-width: 240px;
}
.onhover-show-div  li:hover{
    opacity: 1;
    font-size: 18px !important;
} 
/* .onhover-show-div li:hover {
    background-color: #fff;
    color: #ff5a80 !important;
    opacity: 1;
} */


.authentication-box .container .svg-icon {
    padding: 0px;
    margin: 0 auto;
    border: 2px dashed #ffffff;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}