/* .contact-page .theme-form input,select.form-control  {
    border-color: #dddddd;    
    font-size: 15px;
    padding: 12px 10px;
    margin-bottom: 5px;
    height: inherit !important;
} */
.h-48{
    height: 48px;
}
input[type=file]{
    padding: 9px 10px !important;
}
/* select.form-control{
    padding: 13px 10px;
} */

tbody.newRow tr td select {
    padding: 9px !important;
}

.error{
    color: red !important;
}

input.form-control.error {
    border-color: red;
}


.top-header .header-dropdown .onhover-dropdown .onhover-show-div li a {
    color: #333333;
    padding: 5px;
}


.onhover-dropdown .onhover-show-div {
    min-width: 240px;
}

.onhover-show-div li:hover {
    border-bottom: 1px solid;
}
/* .onhover-show-div li:hover {
    background-color: #fff;
    color: #ff5a80 !important;
    opacity: 1;
} */


.authentication-box .container .svg-icon {
    padding: 0px;
    margin: 0 auto;
    border: 2px dashed #ffffff;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-b-space{
    padding-bottom: 55px;
    padding-top: 55px;
}